[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
spacy-transformers = "*"
nltk = "*"
pytest = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"

[scripts]
download_spacy_model = "python -m spacy download en_core_web_trf"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12"
